<h1>Here is my contact list:</h1>
<% @contacts.each do |contact|%>
  <p><%= contact.first_name %></p>
  <p><%= contact.last_name %></p>
  <p><%= contact.email %></p>
  <p><%= contact.phone_number %></p>
  <p><a href="/contacts/<%=contact.id%>"> View just this contact </a></p>
  <p><a href="/contacts/<%=contact.id%>/edit"> Edit contact! </a></p>
<% end %>
<a href="/contacts/new">Add a contact!</a>


