<h1>Here is my contact list:</h1>
<div class ="container">
<table class= "table table-striped">
<thead>
  <tr>
    <th>Full Name</th>
    <th>Bio</th>
    <th>Email</th>
    <th>Phone Number</th>
    <th>View contact</th>
    <th>Edit contact</th>
    <th>Created at</th>
    </tr>
    </thead>
    <tbody>
<% @contacts.each do |contact|%>
<tr>
  <td><%= contact.full_name %></td>
  <td><%= contact.bio %></td>
  <td><%= contact.email %></td>
  <td><%= contact.prefix %></td>
  <td><a href="/contacts/<%=contact.id%>"> View just this contact </a></td>
  <td><a href="/contacts/<%=contact.id%>/edit"> Edit contact! </a></td>
  <td><%= contact.friendly_created_at %></td>
  </tr>
<% end %>
</tbody>
</table>
</div>

<a href="/contacts/new">Add a contact!</a>

  
