<h1>Here is a contact:</h1>
<p><%= @contact.first_name %> </p>
<p><%= @contact.middle_name %></p>
<p><%= @contact.last_name %> </p>
<p><%= @contact.bio %> </p>
<p><%= @contact.email %> </p>
<p><%= @contact.prefix %> </p>
<% @contact.groups.each do |group| %>
<p> Group: <%= group.name %> </p>
<% end %>


<div class="container">
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Contact Menu
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="/contacts/new">Add a contact!</a></li>
      <li><a href="/contacts/#{@contact.id}/edit">Edit contact!</a></li>
      <li><a href="/contacts">Back to all contacts</a></li>
      <li><%= link_to "Delete this contact", "/contacts/#{@contact.id}", method: :delete %></li>
    </ul>
  </div>
</div>

